@import url('https://fonts.googleapis.com/css2?family=Enriqueta:wght@400;500&family=Plus+Jakarta+Sans:wght@200;300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.overflow {
  overflow-y: hidden;
}

.hex-container {
  width: 170px;
  height: 170px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.for-grid {
  display: grid;
  gap: 2rem;
}

@media (min-width: 768px) {
  .for-grid {
    display: grid;
    gap: 2rem;
    grid-template-rows: repeat(4, 1fr) ;
    grid-template-columns:  repeat(3, 1fr);
  }
  
  .card-item__1 {
    grid-row: 1/4;
    grid-column: 1;
  }
  
  .card-item__2 {
    grid-row: 2/5;
    grid-column: 2;
  }
  
  .card-item__3 {
    grid-row: 1/4;
    grid-column: 3;
  }
  
}